<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p class="mb-3">
    <%= form.text_area :body, class:"form-control", placeholder:"Add a comment..." %>
  </p>
  <p>
    <%= form.submit class:"btn btn-secondary" %>
  </p>
<% end %>
