<div class="card">
  <div class="card-body">
    <div id="<%= dom_id post %>">
      <strong>u/<%= post.user.username %></strong>  
      <p>
        <h4><strong><%= link_to post.title, post, class:"link-dark" %></strong></h4>
      </p>
      <p>
        <%= post.body %>
      </p>
    </div>
  </div>
</div>
