
<div class="card">
  <div class="card-body">
    <div id="<%= dom_id post %>">
      u/<%= post.user.username %>
      <p>
        <strong><%= link_to post.title, post, class:"link-dark" %></strong>
      </p>
      <p>
        <%= post.body %>
      </p>
    </div>
  </div>
</div>



