

<%= render @post %>
<br>
<div>
  <%= link_to "Back", posts_path, class:"btn btn-dark" %>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_post_path(@post), class:"btn btn-dark" %> 
    <%= link_to "Delete this post", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-danger" %>
  <% end %>
</div>
